<?xml version="1.0"?>
<ttsettings>
	
	<!-- Definition of the languages to be used in the interface -->
	<languages prefixed="1" default="en">
		<options>
		<item key="en" locale="en_UK.UTF-8" menu="EN" name="English"/>	
		<item key="es" locale="es_ES.UTF-8" menu="ES" name="Spanish"/>
		</options>
	</languages>
	
	<!-- Definition of the items to be displayed in the navigation menu -->
	<menu>	
		<itemlist>
			<item key="home" display="Home"/>
			<item key="cqp" display="Search"/>
		</itemlist>
	</menu>

	<defaults>
	    <title display="Learner Corpus">Oral Corpus</title>
	    <base javascript="/teitok/Scripts/" foldername="default-lc"/>
	</defaults>
		
	<!-- Definition of the CQP corpus created from the XML files -->
	<cqp corpus="TT-DEFORAL" searchfolder="xmlfiles">	
		<pattributes>
			<item key="nform" display="Normalized form"/>
			<item key="pos" display="POS Tag"/>
			<item key="lemma" display="Lemma"/>
			<item key="ipa" display="IPA"/>
			<item key="rpos" display="Reg POS Tag"/>
			<item key="llemma" display="Lex Lemma"/>
			<item key="error" display="Error code"/>
		</pattributes>
		<sattributes>
		    <item key="text" level="text" display="Document Seach">			
	    		<item key="l1" xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langKnowledge/langKnown[@level='first']" display="First language"/>
	    		<item key="proficiency" xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langLearning/proficiency" display="Proficiency"/>
	    		<item key="genre" xpath="/TEI/teiHeader/profileDesc/taskDesc/task/genre" display="Task Genre"/>
	    	</item>
	    	<item level="u" key="u" display="Utterance">
		    	<item key="who" display="Speaker ID" type="" xpath="@who"/>
    			<item key="start" display="Start" nosearch="1" xpath="@start"/>
	    		<item key="end" display="End" nosearch="1" xpath="@end"/>
		    </item>
		</sattributes>
	    <defaults searchtype="context" subtype="u"/>
	</cqp>

	<!-- Definition of the items to be used in the XML files -->	
	<xmlfile defaultform="form" defaultview="interpret" xpath="//text" paged="0">
		<pattributes>
			<forms>
				<item key="pform" display="Transcription"/>
				<item key="form" display="Written form" color="#990000" admin="1" noshow="1"/>
				<item key="ort" display="Orthographically corrected form" inherit="form" color="#990099"/> 
				<item key="gram" display="Morphosyntactically corrected form" inherit="ort" color="#009999"/> 
				<item key="lex" display="Lexically corrected form" inherit="gram" color="#900090"/> 
			</forms>
			
			<tags>			
				<item key="opos" type="pos" display="Ort POS tag"/>
				<item key="olemma" display="Ort Lemma"/>
				<item key="gpos" type="pos" display="Gram POS tag" inherit="opos"/>
				<item key="lpos" display="Lex POS tag" inherit="gpos"/>
				<item key="llemma" display="Lex Lemma" inherit="olemma"/>
			</tags>
		</pattributes>
		<sattributes>
			<item key="s" level="s" display="Sentence">
			       <item key="th" display="Target Hypothesis" color="#33aa33"/>
			       <item key="note" display="Note" color="#aa3333" admin="1"/>
			</item>
		</sattributes>
	</xmlfile>

	<!-- file uploads -->
	<files>
	    <item key="xml" display="TEI XML Files" folder="xmlfiles" extension="*.xml" description="XML Files in TEI format"/>
	    <item key="audio" display="Audio Recordings" folder="Audio" extension="*.wav,*.mp3" description="Sound files of the transcriptions"/>
	    <item key="facs" display="Facimile Images" folder="Facsimile" extension="*.jpg,*.gif" description="Facsimile Images"/>
	</files>
	
	<teiheader>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/title" display="Text title"/>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/respStmt/resp[@n='transcription']" display="Transcription"/>
		<item xpath="/TEI/teiHeader/encodingDesc/projectDesc/title" display="Project title"/>
		<item xpath="/TEI/teiHeader/profileDesc/langUsage/language/@ident" display="Text language"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/@id" display="Person ID"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/birth/@when" display="Year of Birth"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/sex/@type" display="Sex"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langKnowledge/langKnown[@level='first']" display="First language" cqp="l1"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langKnowledge/langKnown[@level='native']" display="Other native languages"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langKnowledge/langKnown[@level='foreign']" display="Non-native languages"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langLearning/proficiency" display="Level of L2 proficiency" cqp="proficiency"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langLearning/time/@months" display="Duration of language learning"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langLearning/previous" display="Previous L2 course"/>
		<item xpath="/TEI/teiHeader/profileDesc/particDesc/listPerson/person/langLearning/stay/time/@months" display="Stay in L2 country"/>
		<item xpath="/TEI/teiHeader/profileDesc/textDesc/channel/@mode" display="Mode"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/@id" display="Task ID"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/title" display="Task Title"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/affiliation" display="Institution"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/genre" display="Genre of the task" cqp="genre"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/setting" display="Setting of the task"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/type" display="Type of task"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/extent" display="Extent of the task"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/desc" display="Description of the task"/>
		<item xpath="/TEI/teiHeader/profileDesc/taskDesc/task/date" display="Date"/>
	</teiheader>
	
</ttsettings>
