/* 
	Global CSS definitions for the TEITOK system 
	will be overruled by project-dependent styles 
	htmlstyles.css and xmlstyles.css
*/

/* Style used to mark admin-only functions */
.adminpart { background-color: #eeeedd; }

/* Make sure the ACE textarea does not show until loaded */
/* div#editor { color: #ffffff; } */

/* Allow hiding non-used elements in the teiHeader display */
#teiheader *[id=""] { display: none; }

/* Highlighting bar over a facsimile image */
.hlbar { 
	opacity: 0.5; background-color: #ffff00; position: absolute; 
	top: 0px; width: 150px; height: 20px; left: 5px; /* these will be modified */
	display: none; 
}
