/* 
	Global CSS definitions for the TEITOK system 
	will be overruled by project-dependent styles 
	htmlstyles.css and xmlstyles.css
*/

/* Style used to mark admin-only functions */
.adminpart { background-color: #eeeedd; }

/* Make sure the ACE textarea does not show until loaded */
/* div#editor { color: #ffffff; } */

/* Allow hiding non-used elements in the teiHeader display */
#teiheader *[id=""] { display: none; }

/* Highlighting bar over a facsimile image */
.hlbar { 
	opacity: 0.5; background-color: #ffff00; position: absolute; 
	top: 0px; width: 150px; height: 20px; left: 5px; /* these will be modified */
	display: none; 
}

#rollovertable tr:hover {
	background-color:#FFF3B8;
}
#rollovertable tr.even:hover {
	background-color:#FFF3B8;
}
#rollovertable tr.even  {
	background-color: #eaeaee;
}

/* Styles for the Pageflow mode */
#viewport { border: 1px solid #666666; background-color: black; }
#pageflow #title { color: white; font-weight: bold; font-size: 24px; }
#pageflow .material-icons:hover { background-color: #990000; }
#pageflow .material-icons:selected { background-color: #000000; }
#pageflow #info { background-color: white; color: white; }
#pageflow #options { color: white; }
#pageflow #options a { color: #ffdddd; }
#pageflow { box-sizing: border-box; }
#pageflow #toolbar { color: white; }
#facsview { color: #dddddd; text-align: right;  }
