<?xml version="1.0"?>
<ttsettings>
	
	<!-- Definition of the languages to be used in the interface -->
	<languages prefixed="1" default="en">
		<options>
		<item key="en" locale="en_UK.UTF-8" menu="EN" name="English"/>	
		<item key="es" locale="es_ES.UTF-8" menu="ES" name="Spanish"/>
		</options>
	</languages>
	
	<!-- Definition of the items to be displayed in the navigation menu -->
	<menu>	
		<itemlist>
			<item key="home" display="Home"/>
			<item key="cqp" display="Search"/>
		</itemlist>
	</menu>

	<defaults>
	    <title display="Historic Corpus">Historic Corpus</title>
	    <base javascript="/teitok/Scripts/" foldername="default-hist"/>
	</defaults>
		
	<!-- Definition of the CQP corpus created from the XML files -->
	<cqp corpus="TT-DEFHIST" searchfolder="xmlfiles">	
		<pattributes>
			<item key="fform" display="Expanded form"/>
			<item key="nform" display="Normalized form"/>
			<item key="pos" display="POS Tag"/>
			<item key="lemma" display="Lemma"/>
		</pattributes>
		<sattributes>
		    <item key="text" level="text" display="Document Seach">
    			<item key="year" display="Year" type="range"/>
	    		<item key="author" display="Author" long="Author name" type="long"/>
	    	</item>
		</sattributes>
	</cqp>

	<!-- Definition of the items to be used in the XML files -->	
	<xmlfile defaultform="form" defaultview="interpret" xpath="//text" paged="1">
		<pattributes>
			<forms>
				<item key="pform" display="Transcription"/>
				<item key="form" display="Written form" color="#990000" admin="1" noshow="1"/>
				<item key="fform" display="Expanded form" inherit="form" color="#990099"/> 
				<item key="dipl" display="Diplomatic form" noedit="1" subtract="form" inherit="fform" color="#990099"/> 
				<item key="nform" display="Normalized form" inherit="fform" color="#990099"/> 
			</forms>
			
			<tags>			
				<item key="pos" display="POS tag"/>
				<item key="lemma" display="Lemma"/>
			</tags>
		</pattributes>
		<sattributes>
			<item key="gloss" display="Translation gloss (English)"/>
		</sattributes>
	</xmlfile>

	<!-- file uploads -->
	<files>
	    <item key="xml" display="TEI XML Files" folder="xmlfiles" extension="*.xml" description="XML Files in TEI format"/>
	    <item key="facs" display="Facimile Images" folder="Facsimile" extension="*.jpg,*.gif" description="Facsimile Images"/>
	</files>

	<teiheader>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/title" display="Title"/>
		<item type="sep" display="Manuscript data"/>
		<item xpath="/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/idno" display="Manuscript ID"/>
		<item xpath="/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/institution" display="Institution"/>
		<item xpath="/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/repository" display="Repository"/>
		<item xpath="/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/collection" display="Collection"/>
		<item xpath="/TEI/teiHeader/fileDesc/sourceDesc/msDesc/msIdentifier/settlement" display="Place"/>
		<item xpath="/TEI/teiHeader/profileDesc/settingDesc/setting/date" display="Date"/>
		<item xpath="/TEI/teiHeader/profileDesc/settingDesc/setting/date/@when" display="Date (year)"/>
		<item xpath="/TEI/teiHeader/profileDesc/settingDesc/setting/name[@type='place']" display="Place"/>
		<item xpath="/TEI/teiHeader/profileDesc/settingDesc/setting/name/@geo" display="Geolocation"/>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/respStmt/resp[@n='transcription']" display="Transcription"/>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/respStmt/resp[@n='revision']" display="Revision"/>
		<item xpath="/TEI/teiHeader/encodingDesc/projectDesc/title" display="Project title"/>
		<item xpath="/TEI/teiHeader/fileDesc/titleStmt/funder" display="Funding body"/>
		<item xpath="/TEI/teiHeader/profileDesc/textClass" display="Text type"/>
	</teiheader>
	
</ttsettings>
